h1 {
    text-align: center;
    color: navy;
    text-decoration: underline
}

.hidden {display: none;}
.visible {display:block;}
.fav-item{
    margin-bottom: 30px;
    padding-bottom: 15px;
    border-bottom: 2px solid red;
}
.faq-questions
{
    cursor: pointer;
    background-color: aqua;
    color:burlywood;
    padding: 15px;
}
.faq-answer
{
    padding: 15px;
    margin: 0;
}